<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()" method="post">
        <div class="errorDiv" *ngIf="errorBoolean">
          <i class="material-icons">cancel</i> User name or password didn't match
        </div>
        <div class="form-group">
          <label>
            Username: <input type="text" class="form-control" name="username" id="username" formControlName="username">
          </label>
        </div>
        <div class="form-group">
          <label>
            Password: <input type="password" class="form-control" name="password" id="password" formControlName="password">
          </label>
        </div>
        <div class="form-group">
        <button type="submit" value="login" class="btn btn-primary"
                [disabled]="!(userLoginForm.controls['username'].touched && userLoginForm.controls['password'].touched)">
          Login
        </button>
        </div>
      </form>
    </div>
  </div>
</div>
