<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" method="post">
        <div class="form-group">
          <label>
            Arrival: <input type="date" class="form-control" name="startDate" id="startDate" formControlName="startDate">
          </label>
        </div>
        <div class="form-group">
          <label>
            Departure: <input type="date" class="form-control" name="endDate" id="endDate" formControlName="endDate">
          </label>
        </div>
        <div class="form-group">
          <div>
            <label>
              First Name: <input type="text" class="form-control" name="userFirstName"
                                 formControlName="firstName">
            </label>
          </div>
          <div>
            <label>
              Last Name: <input type="text" class="form-control" name="userLastName" formControlName="lastName">
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"
                  [disabled]="!(bookingForm.controls['startDate'].touched &&
                  bookingForm.controls['endDate'].touched && bookingForm.controls['guest.firstName'].touched &&
                  !bookingForm.controls['guest.lastName'].pristine)">
          Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
