<div class="container-fluid">
  <div class="form-row">
    <div class="col-8">
      <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>
            Username: <input type="text" class="form-control" formControlName="username" name="username" id="username">
          </label>
        </div>
        <div class="form-group">
          <div>
            <label>
              First Name: <input type="text" class="form-control" formControlName="firstname" name="firstname">
            </label>
          </div>
          <div>
            <label>
              Last Name: <input type="text" class="form-control" formControlName="lastname" name="lastname">
            </label>
          </div>
          <div>
            <label>
              E-mail: <input type="text" class="form-control" formControlName="email" name="email">
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>
            Password: <input type="password" class="form-control" formControlName="password" name="password">
          </label>
          <div>
            <label
              *ngIf="userRegisterForm.controls['password'].touched"
              [ngClass]="!userRegisterForm.controls['password']
                .hasError('isNotEmpty') ||
              userRegisterForm.controls['password']
              .hasError('minlength')
              ? 'text-danger' : 'text-success'"
            >
              <i class="material-icons">
                {{ !userRegisterForm.controls['password']
                .hasError('isNotEmpty') ||
              userRegisterForm.controls['password']
                .hasError('minlength') ? 'cancel' : 'check_circle' }}
              </i>
              Must be at least 8 characters!
            </label>
          </div>
          <div>
            <label class="form-group"
                   *ngIf="userRegisterForm.controls['password'].touched"
                   [ngClass]="!userRegisterForm.controls['password']
                .hasError('isNotEmpty') ||
              userRegisterForm.controls['password']
              .hasError('hasNumber')  ? 'text-danger' : 'text-success'"
            >
              <i class="material-icons">
                {{ !userRegisterForm.controls['password']
                .hasError('isNotEmpty') ||
              userRegisterForm.controls['password']
                .hasError('hasNumber') ? 'cancel' : 'check_circle' }}
              </i>
              Must contain at least 1 number!
            </label>
          </div>
          <div>
            <label class="form-group"
                   *ngIf="userRegisterForm.controls['password'].touched"
                   [ngClass]="!userRegisterForm.controls['password']
                .hasError('isNotEmpty') ||
              userRegisterForm.controls['password']
              .hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'"
            >
              <i class="material-icons">
                {{ !userRegisterForm.controls['password']
                .hasError('isNotEmpty') ||
              userRegisterForm.controls['password']
                .hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}
              </i>
              Must contain at least 1 in Capital Case!
            </label>
          </div>
          <div>
            <label class="form-group"
                   *ngIf="userRegisterForm.controls['password'].touched"
                   [ngClass]="!userRegisterForm.controls['password']
                .hasError('isNotEmpty') ||
              userRegisterForm.controls['password']
              .hasError('hasSmallCase')  ? 'text-danger' : 'text-success'"
            >
              <i class="material-icons">
                {{ !userRegisterForm.controls['password']
                .hasError('isNotEmpty') ||
              userRegisterForm.controls['password']
                .hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}
              </i>
              Must contain at least 1 Letter in Small Case!
            </label>
          </div>
          <label>
            Confirm password: <input type="password" class="form-control" formControlName="passwordConfirm"
                                     name="passwordConfirm">
          </label>
          <div>
            <label class="text-danger"
                   *ngIf="userRegisterForm.controls['passwordConfirm']
              .hasError('NoPasswordMatch')"
            >
              Password does not match
            </label>
          </div>
        </div>
        <div class="form-group">
          <div>
            <button type="submit" class="btn btn-primary">
              Sign In
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
